.inner {
  .addPostBlock {
    margin-top: 20px;
    text-align: left;
    width: 300px;
    border: 2px solid;
    padding: 5px;

    .inputWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      gap: 10px;

      input, textarea {
        padding: 5px;
      }

    }

    .btnWrap {
      margin-top: 20px;
    }
  }
  .error{
    margin-top: 7px;
    color:red;
    text-align: center;
  }
}